.main-block-02 {width:1200px; margin: 50px auto ;}
.block-tit {margin-bottom:35px; text-align:center; color:#777; }
.block-tit p { display:block; font-size:30px;  font-family: 'Nanum Square'; color:#000; margin:0; padding:0}
.block-tit span { display:block; letter-spacing:0px; font-size:16px; margin:10px 0 }
.float-wrap { clear:both; max-width:1200px; overflow:hidden; margin:0 auto; }
.float-left { float:left; position:relative; width:50%; }
.float-right { float:right; position:relative; width:50%; }
.float-wrap .content-box { display:table;  height:400px}
.float-wrap .content-box > div { display:table-cell; vertical-align:middle; }
.float-wrap .float-left.content-box { padding-right:50px; }
.float-wrap .float-left.content-box > div { text-align:right; }
.float-wrap .float-right.content-box { padding-left:50px; }
.float-wrap .content-box.bg_blue { background:#7bb8be; color:#fff; }
.float-wrap .white{color:#fff; }
.float-wrap .content-box.bg_yellow { background:#f2ede8; color:#555; }
.float-wrap .content-box.bg_green { background:#76b38f; color:#fff; }
.float-wrap .content-box.bg_brown { background:#4a4440; color:#fff; }
.float-wrap .content-box > span { display:inline-block; letter-spacing:5px; font-size:20px; }
.float-wrap .content-box > span.line-deco { padding-top:20px; color:#c69c6d; border-top:1px solid #c69c6d; }
.float-wrap .content-box strong { display:block; font-size:40px; line-height:1.2; }
.float-wrap .content-box > span + strong { margin-top:20px; }
.float-wrap .content-box p { margin-top:20px; font-size:16px; }
.float-wrap .content-box a { position:relative; display:inline-block; margin-top:30px; padding:7px 15px; border:1px solid #fff; font-size:12px; color:#fff; }
.float-wrap .content-box a span { position:relative; z-index:10; }
.float-wrap .content-box a:before { content:''; position:absolute; left:0; right:0; top:0; bottom:0; z-index:1; width:0; background:#fff; transition:0.7s; }
.float-wrap .content-box a:hover { color:#7bb8be; }
.float-wrap .content-box a:hover:before { width:100%; }

@media screen and (max-width: 900px) {
.main-block-02 {width:100%; margin: 20px auto;}
.block-tit {margin-bottom:35px; text-align:center; color:#777; }
.block-tit p { display:block; font-size:20px;  font-family: 'Nanum Square'; color:#000; margin:0; padding:0}
.block-tit span { display:block; letter-spacing:0px; font-size:14px; margin:10px 0 }
.float-left { float:none; width:auto; }
.float-right { float:none; width:auto; }
.float-wrap .content-box { display:block; height:100%;  padding:30px 15px !important;}
.float-wrap .content-box > div { display:block;}
.float-wrap .content-box > span { display:inline-block; letter-spacing:5px; font-size:15px; }
.float-wrap .content-box > span.line-deco { padding-top:20px; color:#c69c6d; border-top:1px solid #c69c6d; }
.float-wrap .content-box strong { display:block; font-size:20px; line-height:1.2; }
.float-wrap .content-box > span + strong { margin-top:20px; }
.float-wrap .content-box p { margin-top:20px; font-size:14px; }
}

.main-block-03 {width:1200px; margin: 50px auto 30px; clear:both;}
.main-block-03 h1 { margin:110px 0 60px 0; text-align:center; font-size:33px; color:#555; }
.main-block-03 ul { max-width:1060px; margin:0 auto; overflow:hidden; text-align:center; }
.main-block-03 ul li { float:left; max-width:370px; overflow:hidden; margin:0 0 30px 15px; }
.main-block-03 ul li:first-child { margin-left:0; }
.main-block-03 li img { max-width:100%; }
.main-block-03 li h1 { margin:10px 0; font-size:25px; color:#000; font-weight:600 }
.main-block-03 li p { font-size:14px; color:#8f8f8f; }
.main-block-03 .moreview a { position:relative; display:inline-block; margin:20px 0 30px 0; padding:7px 15px; border:1px solid #8f8f8f; font-size:12px; color:#8f8f8f; color:000; }
.main-block-03 .moreview a span { position:relative; z-index:10; }
.main-block-03 .moreview a:before { content:''; position:absolute; left:0; right:0; top:0; bottom:0; z-index:1; width:0; background:#77c8c1;  }
.main-block-03 .moreview a:hover { border-color:#77c8c1; color:#fff; }
.main-block-03 .moreview a:hover:before { width:100%; }

@media all and (max-width: 900px) {
.main-block-03 {width:100%; margin: 50px auto 10px ; clear:both;}
.main-block-03 ul li { float:none !important; display:inline-block; max-width:none; margin:0 10px 20px 10px !important; }
}

.main_conts_3 {position:relative; width:1100px; overflow:hidden; margin:40px auto 0px;}
.main_conts_3 > div {float:left;}
.main_conts_3 .bt1 { width:35%; background:url(/images/main/bt1.png) 0 0 no-repeat;}
.main_conts_3 .bt2 { width:37%; background:url(/images/main/bt2.png) 0 0 no-repeat;}
.main_conts_3 .bt3 { width:28%; background:url(/images/main/bt3.png) 0 0 no-repeat;}

.main_conts_3 dl {width:100%; text-transform:uppercase; padding:0% 5% 0% 120px;  }
.main_conts_3 dt {font-size:16px; font-weight:400; line-height:2em; text-align:left}
.main_conts_3 dt a{color:#000}
.main_conts_3 dd {color:#525252; padding-top:1%; font-size:13px; font-weight:200;}
.main_conts_3 dd span{font-weight:500; padding-right:5%;}
.main_conts_3 dd.last {padding:6% 0; letter-spacing:0}
.main_conts_3 dd.call {font-size:28px; font-weight:600; letter-spacing:-1px; color:#d73c33;line-height:32px; *background: #fed600; *border-radius:10px;}
.main_conts_3 dd.call2{font-size:20px; color:#666;line-height:30px;}
.main_conts_3 dd.bank{font-size:24px; color:#000;line-height:32px; font-weight:600;}
.main_conts_3 dd.bank2{font-size:18px; color:#666;line-height:22px;}
.main_conts_3 dd.location{font-size:18px; color:#222; line-height:1.4; margin-top:5px; font-weight:600;}
.main_conts_3 dd a{color:#000; line-height:1.4;}
.main_conts_3 dd a:hover{color:#444; text-decoration:underline}
.main_conts_3 .more3 a {color:#484848; text-align:center;font-size:12px; display:inline-block; width:137px; line-height: 36px; border: 2px solid #484848; color:#484848; font-weight:bold;}
.main_conts_3 .more3 span{padding-right:10%;}
.main_conts_3 .kakao {margin-top:3%;padding-top:0;color:#381e1f;text-align:center;font-size:16px; display:inline-block; width:225px; line-height: 40px; font-weight:bold;
background:url(/img/main/kakao.png) no-repeat 25px center #fed600;}
.main_conts_3 .kakao span {padding-left:40px;}

@media all and (max-width: 1100px) {
.main_conts_3 {position:relative; width:100%px; overflow:hidden; margin:30px auto 0px;}
.main_conts_3 .bt1 { width:50%; background:url(/images/main/bt1.png) 0 0 no-repeat;}
.main_conts_3 .bt2 { width:50%; background:url(/images/main/bt2.png) 0 0 no-repeat;}
.main_conts_3 .bt3 { display:none}
}


#sBanner { position: relative; width: 100%; height:395px; margin:0 auto; background: url("../images/main/sbanner.jpg") no-repeat center center; *background-size: cover; overflow: hidden; }
#sBanner .mTit { color:#fff; padding: 8% 0;  }
@media all and (max-width:899px){
#sBanner { position: relative; width: 100%; margin:0 auto; height:100%; background: url("../images/main/sbanner.jpg") no-repeat center center; background-size: cover; overflow: hidden; }
#sBanner .mTit { color:#fff; padding: 10% 0;  }
}

.mTit { text-align: center; }
.mTit p { font-size: 27px; font-family: 'ft9'; letter-spacing: 0.3em; padding-left: 0.3em; line-height: 0.6em; color:#fff; }
.mTit h2 { font-size: 33px; line-height: 1.2em; font-weight: 300; color:#fff; }
.mTit .more {text-align:center;font-size:13px; margin-top:15px;  display:inline-block; width:137px; line-height: 25px; border: 1px solid #fff; color:#484848; font-weight:bold;}
.mTit .more a {color:#fff; }

/******** media query 899px Mobile ********/
@media all and (max-width:899px){
#mainsp_box {width:100%; margin:0 auto; padding:40px 0 50px 0; background: url('../images/main/spbg.jpg') center top no-repeat;}
#main-special {padding:2% 15%;}
.index-conts {width:100%;	margin-bottom:1rem !important; margin-top:2rem !important}
.index-conts .title-large {font-size:26pt;}
.main_conts_1 {width:100%; padding: 30px 0;}
.main_conts_1 > div {width:25%;}
.mc1_1, .mc1_2, .mc1_3 {margin:0;}
.main_conts_1 > div {height:380px;}
.main_conts_1 dl {padding:190px 20px 0;}
.main_conts_1 .dl2 {padding:2% 20px 0;}
.main_conts_1 dl dt {font-size:16px; line-height:3.2em; padding-top:15%; color:#fff; font-weight:200}
.main_conts_1 dl dd{font-weight:200; font-size:12px; color:#fff;}
.main_conts_1 dl dd.more {display:none}

.main_conts_3 {width:100%; height:auto;}
.main_conts_3 > div {width:25%;}
.main_conts_3 dt {font-size:15px; font-weight:700; line-height:2.5em; }
.main_conts_3 dd {color:#525252; padding-top:3%; font-size:12px; font-weight:200; }
.main_conts_3 dd span{font-weight:500; padding-right:5%;}
.main_conts_3 dd.last {padding:6% 0; letter-spacing:0}
.main_conts_3 dd.call {font-size:20px; font-weight:600; letter-spacing:-1px; color:#d73c33;line-height:1.4; *background: #fed600; *border-radius:10px;}
.main_conts_3 dd.call2{font-size:15px; color:#666;line-height:1.4;}
.main_conts_3 dd.bank{font-size:15px; color:#000;line-height:1.4; font-weight:600;}
.main_conts_3 dd.bank2{font-size:13px; color:#666;line-height:1.4;}
.main_conts_3 dd.location{font-size:13px; color:#222; line-height:1.4; margin-top:5px; font-weight:600;}

.mTit p { font-size: 16px; font-family: 'ft9'; letter-spacing: 0.3em; padding-left: 0.3em; line-height: 0.6em; color:#fff; }
.mTit h2 { font-size: 25px; line-height: 1.2em; font-weight: 300; color:#fff; }

}

/******** media query 626px ********/
@media all and (max-width:626px){
.main_conts_1 {width:100%; padding: 30px 0;}
.main_conts_1 {padding:0;}
.main_conts_1 .more{display:hidden}
.main_conts_1 > div {width:50%; height:330px;}
.main_conts_3 dd.call {font-size:23px;}
.main_conts_3 .more3 a {border: 1px solid #484848;}
.mTit h2 { font-size: 16px; padding:0 10%; line-height: 1.2em; font-weight: 300; color:#fff; }
}

/******** media query 582px ********/
@media all and (max-width:582px){
.main_conts_3 {display:none}
}

/******** media query 480px ********/
@media all and (max-width:480px){
.main_conts_1 > div {height:300px;}
.main_conts_1 dl {padding:150px 15px 0;}
.main_conts_1 .dl2 {padding:2% 15px 0;}
.main_conts_1 dl dt {font-size:15px; line-height:3.2em; padding-top:15%; color:#fff; font-weight:200}
.main_conts_1 dl dd{font-weight:200; font-size:11px; color:#fff;}
.main_conts_1 dl dd.more {display:none}
}



@media only screen and (max-width: 480px) {
	body {font-size:9pt}
	.room-slide .title-small2 {font-size:9pt}
	.s-header-v2__logo-img--shrink img {width:70%}
	.s-header-v2__logo-link {padding-left:0.2rem !important}
	.footer .large {font-size:14pt;}
	.footer .small-kr {font-size:9pt;}
	.footer .copy {font-size:8pt}
	.room-slide .title-large, .room-conts1 .room-conts1-2 .title-large {font-size:18pt}
	.reservation-conts1 {padding: 6% 2% 4% 2% !important}
	.reservation-conts1 .title-large {font-size:24pt; line-height: 1;}
	.preview-title {font-size:30pt; line-height: 20pt;}
}





/* Promo Block v6 */
.s-promo-block-v6 {
  position: relative;
  z-index: 1;
}

.s-promo-block-v6:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: " ";
}


@media screen and (max-width: 992px) { #main-special {padding:6% 4%}}
@media screen and (max-width: 768px) {
.s-swiper__pagination-v1--dark .swiper-pagination-bullet {background:#ccc}
.s-swiper__pagination-v1--dark .swiper-pagination-bullet-active {background:#555}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 5px}
}
@media screen and (max-width: 480px) {
.g-margin-t-250--xs {margin-top:0 !important}
.g-margin-b-250--xs {margin-top:0 !important}*/
.g-padding-y-150--xs {padding-top:1rem !important; padding-bottom:5rem !important}
.s-swiper h3 {font-size:1rem !important}
.s-swiper p {font-size:9pt !important}*
.s-swiper__pagination-v1--dark .swiper-pagination-bullet {background:#ccc}
.s-swiper__pagination-v1--dark .swiper-pagination-bullet-active {background:#555}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 5px}
}

/* main slide end */


